.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info span {
  font-size: 0.9rem;
}

.btn-logout, .btn-login-header, .btn-carrinho {
  padding: 8px 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-logout:hover, .btn-login-header:hover {
  background-color: #115293;
}

.btn-logout {
  background-color: #d32f2f; /* Cor diferente para o logout */
}

.btn-logout:hover {
  background-color: #9a0007;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Empurra o rodapé para o final do contêiner flex */
}
